#header {
    margin: 20px;
    text-align: center;
}

#header-text{
    text-align: center;
}
.grid-container{
    /*display: grid;*/

    padding: 10px;
    border: 1px solid black;

}
.grid-item{
    padding:20px;
    text-align: center;
    border: 1px solid black;

}
form{
    display: grid;
    grid-gap: 20px;
}

#theSubmitButton{
    width: 100px;
}
#tokenLink{
    text-align: center;
}

textarea{
    resize: none;
    width: 100%;
    max-width: 175px;
}
#hadbutton{
    margin: 5px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    text-align:center;
    margin: auto;


}

@media(min-width: 600px) {
    form{
        grid-template-columns: repeat(2,1fr);
    }
}