#header {
    margin: 20px;
    text-align: center;
}

#header-text{
    text-align: center;
}
.grid-container{
    /*display: grid;*/

    padding: 10px;
    border: 1px solid black;

}
.grid-item{
    padding:20px;
    text-align: center;
    border: 1px solid black;

}
#planform{
    display: grid;
    grid-gap: 20px;
}

#theSubmitButton{
    width: 100px;
}
#tokenLink{
    text-align: center;
}

textarea{
    resize: none;
    width: 100%;
    max-width: 175px;
}
#hadbutton{
    margin: 5px;
}
.adheader{
    text-align: center;
}
#adform{
    text-align: center;
}
table , th ,td {
    border: 1px solid black;
}
table{
    margin: auto;
}

@media(min-width: 600px) {
    #planform{
        grid-template-columns: repeat(2,1fr);
    }
}